/[Ll]ibrary/
/[Tt]emp/
/[Ll]ogs/
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs
*.orig
*.orig.meta
Thumbs.db
*.userprefs
obj/
Assets/UnityVS/*
.vs/
unity3d_editor.log
*.code-workspace
*.DotSettings
*.sln*.user

.DS_Store

Temp
Library
Build
obj
UnitTestResults.xml

/_UpgradeReport_Files

Build.zip
UpgradeLog.XML
UpgradeLog.htm
UpgradeLog.htm.meta
Thumbs.db.meta
#/*.sublime-workspace
#/*.sublime-project
.vscode/


Builds/
Assets/Monograf/
Assets\Monograf.meta
Assets/TextMesh Pro/Examples/
Assets\TextMesh Pro\Examples.meta
.idea/
ProfilerData/
CharacterLogs/

# This asset is commited, but its changes won't be tracked. DO NOT DELETE THIS ASSET.
Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta
Assets/Plugins/Editor/JetBrains.meta
Assets/StreamingAssets*

### FMOD Unity Integration ###

# Never ignore DLLs in the FMOD subfolder, so make sure that the FMOD-folder is in the correct path.
!/[Aa]ssets/Plugins/FMOD/**/*.dll

# Don't ignore images and gizmos used by FMOD in the Unity Editor
!/[Aa]ssets/Gizmos/FMOD/*
!/[Aa]ssets/Editor Default Resources/FMOD/*

# Ignore the Cache-file since it is updated locally either way
FMODStudioCache.asset*
[Aa]ssets/Plugins/FMOD/Cache/
[Aa]ssets/Plugins/FMOD/Cache.meta

# Log-files
fmod.log
fmod_editor.log

node_modules/
UserSettings/
MemoryCaptures/



# Never ignore DLLs in the FMOD subfolder.
!/[Aa]ssets/Plugins/FMOD/**/lib/*

# Don't ignore images and gizmos used by FMOD in the Unity Editor.
!/[Aa]ssets/Gizmos/FMOD/*
!/[Aa]ssets/Editor Default Resources/FMOD/*

# Ignore the Cache folder since it is updated locally.
/[Aa]ssets/Plugins/FMOD/Cache/*

# Ignore bank files in the StreamingAssets folder.
/[Aa]ssets/StreamingAssets/**/*.bank
/[Aa]ssets/StreamingAssets/**/*.bank.meta

# If the source bank files are kept outside of the StreamingAssets folder then these can be ignored.
# Log files can be ignored.
fmod_editor.log